*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

body {
    background: rgb(244, 242, 245)
}

.form-control:focus {
    box-shadow: none;
    border-color: #68a2c8
}

.profile-button {
    background: rgb(39, 117, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #275173
}

.profile-button:focus {
    background: #274573;
    box-shadow: none
}

.profile-button:active {
    background: #732727;
    box-shadow: none
}

.back:hover {
    color: #27736e;
    cursor: pointer
}

.labels {
    font-size: 16px;
    padding-top: 0.7rem;
}

.add-experience:hover {
    background: rgb(131, 104, 200);
    color: #fff;
    cursor: pointer;
    border: solid 1px #6883c8
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  